.user-status {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid white;
  flex-shrink: 0;
}

.user-status-small {
  width: 8px;
  height: 8px;
  margin-right: 0.5rem;
}

.user-status-medium {
  width: 12px;
  height: 12px;
  margin-right: 0.5rem;
}

.user-status-large {
  width: 16px;
  height: 16px;
  margin-right: 0.75rem;
}

